.whatsapp-button {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 70px;
  height: 70px;

  background: #25d366;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 38px;

  text-decoration: none;

  box-shadow: 0 5px 18px rgba(0,0,0,0.3);

  z-index: 999;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}